$primary-color: #5741ec;
$primary-color-light: #7c67ff;
$primary-color-dark: #4734c4;
$secoundary-color: #590995;
$green-color: #03c4a1;
$red-color: #c62a88;
$black-color: #000000;
$white-color: #ffffff;
$fore-color: #ffffff;
$orange-color: #f08a5d;
$info-color: #51adcf;